{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
            <a href="{% url 'todo_list_update' list.id %}">Update</a>
            <a href="{% url 'todo_list_delete' list.id %}">Delete</a>
            
        </nav>
    </header>

    <main>
        <div>
        <h1>{{ list.name }}</h1>
        <p>
        <table>
            <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
            </thead>
            <tbody>
                {% for item in list.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td>
                        {{ item.due_date|date:"M d, Y" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        <table>
        </p>
        </div>

    </main>
{% endblock content %}
