{% extends 'base.html' %}

{% block title %}
    My lists
{% endblock title %}

{% block content %}
    <header>
    </header>

    <main>
    <div>
      <h1>My Lists</h1>
      <p>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
      </p>
      <p>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
      </p>
      <p>
      <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                    <!--we also want to include a for looped linked to the obstacle-->

                    <td>
                        <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                    </td>
                    <td>
                        {{ list.items.all|length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        <table>
        </p>
    </div>
    </main>
{% endblock content %}
