{% extends 'base.html' %} {% block content %}
<header>
  <nav>
    <a href="{% url 'todo_list_list' %}">Main Page</a>
  </nav>
</header>

<main>
  <div>
    <h1>Update</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Update</button>
    </form>
  </div>
</main>

{% endblock content %}
